.card {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	border: 1px solid rgba($black, 0.125);
	border-radius: 0.25rem;

	.card-header {
		padding: 1.5rem;
		background-color: rgba($black, 0.03);
		border-bottom: 1px solid rgba($black, 0.125);
	}

	.card-body {
		padding: 2rem;
	}
}
